h1 {
    font-family: impact; 
    color: #F08B51;
    margin-top: 40px;
    font-size: 60px;
}
body {
    background: #BB6653;
    text-align: center;
}
#percentage,#result  {
    background-color: #FFF8E8; 
    margin-bottom: 50px;
    width: 100px;
    height: 70px;
    font-size: 30px;
}
#percentage::placeholder,#result::placeholder  {
    color: black;
}/*
{
    background-color: teal; 
    margin-bottom: 10px;
    width: 300px;
}
{
    color: black;
}*/
#orignal {
    font-size: 30px;
}
button {
    background-color: #FFF8E8;
    width: 500px;
    height: 120px;
    font-size: 60px;
}



