h1 {
  text-align: center;
  font-family: impact;
  color: darkblue;
  font-size: 175px;
}
body {
  text-align:center;
  background: silver;
}
#original,#newval {
  width:800px;
  height: 220px;
  margin-bottom: 50px;
  background-color:teal;
  font-size: 70px;
  margin-top: 5px;
}
label {
  font-size: 60px;
  
}
#original::placeholder,#newval::placeholder{
  color:black
}/*
{
  width:300px;
  margin-bottom: 10px;
  background-color:teal;
}
{
  color:black;
}*/
button {
  width: 500px;
  height: 120px;
  font-size: 60px;
  background-color: teal;
  }
#result {
  font-size: 60px;
}/*
#btn5 {
  margin-top: 15px;
  width: 200px;
  font-family:impact;
  background-color: teal;
}*/