h1 {
  text-align: center;
  font-family: impact;
  color: darkblue;
  font-size: 175px;
}
body {
  text-align: center;
  background: silver;
}
#value,#total{
  background-color: teal;
  margin-bottom: 70px;
  width: 800px;
  height: 220px;
  font-size: 100px;
}/*
{
  background-color: teal;
  margin-bottom: 10px;
  width: 300px;
}*/
#result {
    font-size: 60px;
}
#value::placeholder,#total::placeholder{
  color: black;
}/*
{
  color: black;
}*/
button {
  background-color: teal;
  width: 500px;
  height: 120px;
  font-size: 60px;
  
}